<!DOCTYPE html>
<html>
<head>
	<title>Realy Board</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Pragma" content="no-cache">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>

<header>
	<div id="top"></div>
</header>
<body>
	<div class="container">
		<div id="menu">
			<h2>Menu</h2>
			<input type="button" id="relays" name="Relays" value="Relays" onclick="$('#main').load('relays.htm')">
			<input type="button" id="timers" name="Timers" value="Timers" onclick="$('#main').load('timers.htm')">
			<input type="button" id="temp" name="Temperature" value="Temperature" onclick="$('#main').load('temp.htm')">
			<h2>Settings</h2>
			<input type="button" id="user" name="UserSettings" value="User Account" onclick="$('#main').load('user.htm')">
			<input type="button" id="network" name="NetworkSetings" value="Network" onclick="$('#main').load('network.htm')">
			<input type="button" id="dateTime" name="DateTime" value="Date And Time" onclick="$('#main').load('dateTime.htm')">
			<input type="button" id="log" name="log" value="Log" onclick="$('#main').load('logs.htm')">
		</div>
		<div id="main"></div>
	</div>
</body>
<footer>
	&copy 2018: By Brenton Holloway
</footer>
<script type="text/javascript">
	$(function(){
		$("#top").load("top.htm");
		$("#main").load("welcome.htm");
	})
</script>
</html>