table {
	width: 100%
}

th{
	width: 50%;
}

td{
	width: 50%;
}

.num{
	text-align: right;
}

th.head{
	column-span: 2;
	text-align: left;
	background-color: #50c6ec;
}

#macaddr{
	margin: 0px;
	padding: 1px;
	text-align: right;
	width: 130px;
}
td#mac{
	text-align: right;
}

td.buttons{
	text-align: right;
}

input#submit{
	width: 20%;
}

div#relay_buttons table{
	text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

td#topLogout{
	text-align: right;
}

/*Table configuration settings for relays.htm*/

td.relayButton{
	text-align: right;
	padding-right: 10px;
}

td.status{
	text-align: left;
	padding-left: 10px;
}

td.switch {
	text-align: center;
	width: 50%;
}

table.timerSettings{
	border: solid;
	border-color: black;
	border-width: 1px;
}

td.timeInput {
	text-align: center;
	width: 50%;
}

table#all {
	padding: 0;
	margin: 0;
}

table#topFrame {
	padding: 0;
	margin: 0;
	height: 52px;
	width: 100%;
}

td#logArea{
	text-align: center;
}