header {
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	background-color: #2F90E5;
	overflow: auto;
	padding-bottom: 20px;
}

body div#flex-container {
	display: flex;
}

body div#menu {
	width: 200px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: grey;
}

#menu h2, #menu h3 {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #50c6ec;
}

body div#main {
	flex-grow: 1;
	padding: 0px;
	background-color: white;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: left;
	background-color: #50c6ec;
	height: 20px;
}