<!DOCTYPE html>
<html>
<head>
	<title>Realy Board</title>
	<meta http-equiv="Pragma" content="no-cache">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/text.css">
	<link rel="stylesheet" type="text/css" href="css/inputs.css">
	<link rel="stylesheet" type="text/css" href="css/table.css">
	<link rel="stylesheet" type="text/css" href="css/tooltip.css">
	<script type="text/javascript" src="script/jquery.js"></script>
</head>

<header>
	<div id="top"></div>
</header>
<body>
	<div id="flex-container">
		<div id="menu">
			<h2>Menu</h2>
			<input type="button" id="relays" name="Relays" value="Relays" onclick="$('#main').load('relays.htm')">
			<input type="button" id="timers" name="Timers" value="Timers" onclick="$('#main').load('timers.htm')">
			<input type="button" id="temp" name="Temperature" value="Temperature" onclick="$('#main').load('temperature.htm')">
			<h2>Settings</h2>
			<input type="button" id="user" name="UserSettings" value="User Account" onclick="$('#main').load('user.htm')">
			<input type="button" id="network" name="NetworkSetings" value="Network" onclick="$('#main').load('network.htm')">
			<input type="button" id="dateTime" name="DateTime" value="Date And Time" onclick="$('#main').load('dateTime.htm')">
			<input type="button" id="log" name="log" value="Log" onclick="$('#main').load('logs.htm')">
		</div>
		<div id="main"></div>
	</div>
</body>
<footer>
	&copy 2018: By Brenton Holloway
</footer>
<script type="text/javascript">
	$(function(){
		$("#top").load("top.htm");
		$("#main").load("welcome.htm");
	})
</script>
</html>