<h1>Relays</h1>
<form method="post">
	<table>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 1</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay1" type="checkbox" name="relay1">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 2</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay2" type="checkbox" name="relay2">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 3</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay3" type="checkbox" name="relay3">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 4</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay4" type="checkbox" name="relay4">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 5</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay5" type="checkbox" name="relay5"  disabled="true">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 6</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay6" type="checkbox" name="relay6"  disabled="true">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 7</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<input id="relay7" type="checkbox" name="relay7" disabled="true">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
		<tr>
			<td>
				<h2 class="head">Relay 8</h2>
			</td>
			<td class="switch">
				<label class="switch">
					<label for="relay8">On/Off</label>
					<input id="relay8" type="checkbox" name="relay8"  disabled="true">
					<span class="slider round"></span>
				</label>
			</td>
		</tr>
		<tr>
			<th class="head" colspan="2"></th>
		</tr>
	</table>
</form>