<form method="post">
	<table class="timerSettings">
		<tr>
			<th colspan="2">Timer Settings</th>
		</tr>
		<tr>
			<td class="timeInput" colspan="2"><!-- Relay Timer -->
				<input id="rt" type="checkbox" name="timer" onclick="toggle(r1t, r1sd)"><label for="rt">Enable Relay Timer</label>
			</td>
		</tr>
		<tr><!-- Relay Start Date and End Date -->
			<td class="timeInput">
				<label for="rsd">Start Date: </label><input id="rsd" type="date" name="r1sd" disabled="true">
			</td>
			<td class="timeInput">
				<label for="red">End Date: </label><input id="red" type="date" name="red" disabled="true">
			</td>
		</tr>
		<tr><!-- Relay Start Time and End Time -->
			<td class="timeInput">
				<label for="rst">Start Time: </label><input id="rst" type="time" name="rst" disabled="true">
			</td>
			<td class="timeInput">
				<label for="ret">End Time: </label><input id="ret" type="time" name="ret" disabled="true">
			</td>
		</tr>
	</table>
</form>
<script type="text/javascript" src="script/timer.js"></script>